body {
    background-color: darkseagreen;
    margin: 0px;
    padding:0px
}

/* cornflowerblue is a lovely colour alternative to black and white website */
.navigation {
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 2px solid darkseagreen;
    width: 100%;
    z-index: 999;
}

.navigation ul {
    display: flex;                  /* make list flex */
    justify-content: space-evenly;  /* space items evenly across */
    align-items: center;
    list-style: none;               /* remove bullet points */
    margin: 0;
    padding: 0;
    width: 100%;
}

.navigation li {
    flex: 1;                         /* each item takes equal space */
    text-align: center;              /* center text inside slot */
}

.navigation a {
    display: block;                  /* make link fill the li */
    font-family: 'Courier New', Courier, monospace;
    color: darkseagreen;
    font-size: clamp(15px, 5vw,25px);
    padding: 10px 0;
    text-decoration: none;
}

.navigation a:hover {
    text-decoration: underline;
}


.banner{
    background-image: url("../images/3-pot-cropped-final.jpg");
    /* note to self- powerpoint reduces image quality considerably when used to crop images, do on phone first instead */
    font-family:'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: clamp(20px, 5vw, 45px);
    text-align:center;
    text-shadow: 5px 5px darkseagreen;
    color: white;
    background-position: center top;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 50px;
}


.tagline {
    font-family: 'Courier New', Courier, monospace;
    color: darkseagreen; 
    text-shadow: none; 
    font-size: clamp(10px, 5vw, 25px);
    margin: 20px 10px;
    display: inline-block;
    text-align: center;
    padding: 0px 10px;
    font-weight: bold;
    background-color: white;
     max-width: calc(100% - 20px); /* never full width, always some margin */
    position: relative;
    z-index: 1;
     
}


h2{
    margin-top: 0;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 4px 4px black;
    color: white;
    text-align: center;
    font-size: clamp(17px, 5vw, 35px);
    background-color: darkseagreen;
    padding: 20px;
}

 p {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: darkseagreen;
    text-align: center;
    font-size: clamp(10px, 5vw,20px);
    margin: 20px 50px;


}
