/* This style sheet is simply a diffrernet colour to the other one as of inital commits */


body {
    background-color: #fff;
    
    margin: 0px;
    padding:0px
}

/* cornflowerblue is a lovely colour alternative to black and #4FA1D1 website */
.navigation {
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 5px solid #4FA1D1;
    
    width: 100%;
    z-index: 999;
     font-weight: bold;
}

.navigation ul {
    display: flex;                  /* make list flex */
    justify-content: space-evenly;  /* space items evenly across */
    align-items: center;
    list-style: none;               /* remove bullet points */
    margin: 0;
    padding: 0;
    width: 100%;
}

.navigation li {
    flex: 1;                         /* each item takes equal space */
    text-align: center;              /* center text inside slot */
}

.navigation a {
    display: block;                  /* make link fill the li */
    font-family: 'Courier New', Courier, monospace;
    color: #4FA1D1;
    
    font-size: clamp(15px, 5vw,25px);
    padding: 10px 0;
    text-decoration: none;
    transition: transform 0.2s ease, text-decoration 0.2s ease;
}

.navigation a:hover {
    text-decoration: underline;
     font-weight: bold;
      transform: scale(1.2);

}

.navigation a:active {
    color:black;
}

/* Add button functions to the nav-link classed anchors */


.banner{
    background-image: url("../images/compressed/banners/old_pot_selection.jpg");
    /* note to self- powerpoint reduces image quality considerably when used to crop images, do on phone first instead */
    background-position: center center !important;
    background-size: cover;
    font-family:'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: clamp(20px, 5vw, 45px);
    text-align:center;
    text-shadow: 5px 5px #4FA1D1;
    
    color: white;
    padding-top: 100px;
    padding-bottom: 50px;
}

@media (max-width:600px){
    .banner{
        background-image: url(../images/optimised/banners-m/old_pot_selection.webp)
    }
}



.tagline {
    font-family: 'Courier New', Courier, monospace;
    color: #4FA1D1; 
    text-shadow: none; 
    font-size: clamp(10px, 5vw, 25px);
    margin: 20px 10px;
    display: inline-block;
    text-align: center;
    padding: 0px 15px;
    font-weight: bold;
    background-color: white;
     max-width: calc(100% - 20px); /* never full width, always some margin */
    position: relative;
    z-index: 1;
    border-radius: 3px;
     
}

.introdiv, .mainh2, .intro{
    background-color: #4FA1D1;
    color:#fff
}

.introdiv{
   padding-bottom: 15px
}

h2{
    margin-top: 0;
    font-family: 'Courier New', Courier, monospace;
   /* text-shadow: 3px 3px black; */
    color: #4FA1D1;
    text-align: center;
    font-size: clamp(17px, 5vw, 35px);
    background-color: white;
    padding: 20px 0px 15px 0px;
}

 p {
    font-family: 'Courier New', Courier, monospace;
    color: #284e63;
    background-color: white; 
    text-align: center;
    font-size: clamp(10px, 5vw,20px);
    margin: 25px  auto;
    padding: 0px 10px;
    max-width: 1000px;
 }


.p_imgs {

    display: flex;
    max-width:900px;
    justify-content: center;
    margin: 25px  auto;
    gap: 10px;
   
}

.p_imgs img {
     margin: 0 auto;
    width: clamp(50px, 45vw, 450px);
   
}

 .bowl_imgs1 {
    display: flex;
    gap:10px;
    justify-content: center;
 }

.bowl_imgs1 img {
  margin: 1px auto;
  height: clamp(150px, 50vw, 500px);
  width: auto;
}

 .bowl_imgs2 {
    display: flex;
    gap: 10px;
    justify-content: center;
 }

.bowl_imgs2 img {
  width: clamp(90px, 45vw, 400px);
  height: auto;

}

 .bowl_imgs3 {
    display: flex;
    gap:20px;
    justify-content: center;
 }

.bowl_imgs3 img {
  margin: 1px auto;
  width: clamp(190px, 80vw, 700px);
  height: auto;
}