
   /* 5px margin for content - could make the same gap for content?*/
   
   /* Mobile View  will be default css, make a media query for laptop verison
      @media screen and (min-width:250px) and (max-width:480px) {
        .home{
          grid-template-columns: repeat(2,1fr);
        }
      }
        */
       /* Tablet View 
       @media screen and (min-width:481px) and (max-width:768px) {
        .banner{
          grid-template-columns: repeat(4,1fr);
        }

         add additional grid specs here 
      } 
         */


.navigation{ 
    display: grid;
    grid-template: 1fr/ 4fr 1fr;
    



}

.navigation ul {
    display:flex;
    list-style: none; 
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    /*justify-content:space-between;*/
    align-items: center;
    
}

.navigation li a {             
   color: black;
   font-family:'Courier New', Courier, monospace;
   font-weight: 1000;
   font-size: clamp(14px, 3vw, 35px);
   text-align:center;
   white-space: normal;
}

.navigation li{
    flex: 1;                 /* each li takes equal horizontal space */
    text-align: center;       /* centers multi-line text */
    display: flex;            /* flex container for inner content */
    justify-content: center;  /* horizontal centering of text */
    align-items: center;
     
}
      .banner{
        display:grid;
        grid-template: 200px 1fr  / 1fr ; /*2 rows, 1 column*/
        /*this is not working, need to enture text remains in image when screen ;arger - media query?*/
      }

.home{
    background-image: url("../images/compressed/banners/3-pot-cropped-final.jpg");
    /* note to self- powerpoint reduces image quality considerably when used to crop images, do on phone first instead */
   display: flex;
   flex-direction: column;
    font-family:'Courier New', Courier, monospace;
    font-weight: 800;
    text-align:center;
    text-shadow: 3px 2px black;
    color: white;
    background-position: top center !important;
    background-size: cover;
    margin: 2.5px 5px;
    align-items: center;
    justify-content:center;
  
}

.home h1{
font-size: clamp(30px, 5vw, 90px);
margin: 0px;
}

.tagline{
    font-size: clamp(14px, 3vw, 35px);
    padding: 10px;
}

.welcome{
     font-family:'Courier New', Courier, monospace;
     border: 2px solid black;
     font-weight:600;
     font-size: 14px;
     margin: 2.5px 5px;
     padding: 0px 10px;
}


body {
    background-color: white;
    margin: 0px;
    padding:0px;

}

.selection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width:calc(100%-10px);
  padding: 2.5px;
  font-family:'Courier New', Courier, monospace;
}

.box {
  display: block;
  margin: 2.5px 5px;
  max-width: 300px;
  box-shadow: 10px;
  border-right: 3px solid black;
  border-bottom: 5px solid black;
  overflow: hidden;
}

.box img{
  display: block;
  aspect-ratio: 4/3;
  width: 100%;
  object-fit: cover;

}

.box h3 {
  margin: 10px;
}