/* This style sheet is simply a diffrernet colour to the other one as of inital commits */


body {
    background-color: cornflowerblue;
    margin: 0px;
    padding:0px
}

/* cornflowerblue is a lovely colour alternative to black and white website */
.navigation {
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 2px solid cornflowerblue;
    width: 100%;
    z-index: 999;
    font-weight: bold;
}

.navigation ul {
    display: flex;                  /* make list flex */
    justify-content: space-evenly;  /* space items evenly across */
    align-items: center;
    list-style: none;               /* remove bullet points */
    margin: 0;
    padding: 0;
    width: 100%;
}

.navigation li {
    flex: 1;                         /* each item takes equal space */
    text-align: center;              /* center text inside slot */
}

.navigation a {
    display: block;                  /* make link fill the li */
    font-family: 'Courier New', Courier, monospace;
    color: cornflowerblue;
    font-size: clamp(15px, 5vw,25px);
    padding: 10px 0;
    text-decoration: none;
}

.navigation a:hover {
    text-decoration: underline;
     font-weight: bold;

}

.navigation a:active {
    color:black;
}

/*
.navigation {
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px solid black;
    text-align: center;
    width: 100%;
    z-index: 999;
    display: flex;                  /* turn into flex container */
    /*justify-content: space-evenly;  /* even spacing */
    /*align-items: center; 
}

.navigation a {
    flex: 1;  /* Make each link take equal width */
   /* text-align: center;             /* Center text inside each link */
   /* font-family:'Courier New', Courier, monospace;
    color: black;
    font-size: 25px;
    text-decoration: none;
    width:100%;

}



.navigation a:hover{
     text-decoration: underline;
} 

/* Add button functions to the nav-link classed anchors */


.banner{
    background-image: url("../images/compressed/banners/purple_dip.jpg");
    /* note to self- powerpoint reduces image quality considerably when used to crop images, do on phone first instead */
    font-family:'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: clamp(20px, 5vw, 45px);
    text-align:center;
    text-shadow: 5px 5px cornflowerblue;
    color: white;
    background-position: center top;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 50px;
}


.tagline {
    font-family: 'Courier New', Courier, monospace;
    color: cornflowerblue; 
    text-shadow: none; 
    font-size: clamp(10px, 5vw, 25px);
    margin: 20px 10px;
    display: inline-block;
    text-align: center;
    padding: 0px 15px;
    font-weight: bold;
    background-color: white;
     max-width: calc(100% - 20px); /* never full width, always some margin */
    position: relative;
    z-index: 1;
     
}


h2{
    margin-top: 0;
    font-family: 'Courier New', Courier, monospace;
    /*text-shadow: 3px 3px black; */
    color: white;
    text-align: center;
    font-size: clamp(17px, 5vw, 35px);
    background-color: cornflowerblue;
    padding: 20px;
}

 p {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: cornflowerblue;
    text-align: center;
    font-size: clamp(10px, 5vw,20px);
    margin-top: clamp(10px, 5vw,20px);
    margin-left: clamp(2px,5vw,50px);
    margin-right: clamp(2px,5vw,50px);
 }


.tile_imgs {
       display: flex;
    gap:10px;
    justify-content: center;
 }

.tile_imgs img {
  margin: 0 auto;
  width: clamp(100px, 50vw, 300px);
  height: auto;
}


.dunk_imgs {
       display: flex;
    gap:10px;
    justify-content: center;
 }

.dunk_imgs img {
  margin: 0 auto;
  width: clamp(100px, 50vw, 300px);
  height: auto;
}


.bad_glazing h2 {
    margin-top: 25px;
}
