/* This style sheet is simply a diffrernet colour to the other one as of inital commits */


body {
    background-color: white;
    margin: 0px;
    padding:0px
}

/* cornflowerblue is a lovely colour alternative to black and mediumpurple website */
.navigation {
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 5px solid mediumpurple;
    width: 100%;
    z-index: 999;
    font-weight: bold;
}

.navigation ul {
    display: flex;                  /* make list flex */
    justify-content: space-evenly;  /* space items evenly across */
    align-items: center;
    list-style: none;               /* remove bullet points */
    margin: 0;
    padding: 0;
    width: 100%;
}

.navigation li {
    flex: 1;                         /* each item takes equal space */
    text-align: center;              /* center text inside slot */
}

.navigation a {
    display: block;                  /* make link fill the li */
    font-family: 'Courier New', Courier, monospace;
    color: mediumpurple;
    font-size: clamp(15px, 5vw,25px);
    padding: 10px 0;
    text-decoration: none;
    transition: transform 0.2s ease, text-decoration 0.2s ease;

}

.navigation a:hover {
    text-decoration: underline;
     font-weight: bold;
      transform: scale(1.2);

}

.navigation a:active {
    color:black;
}



.banner{
    background-image: url("../images/compressed/banners/purple_dip.jpg");
    /* note to self- powerpoint reduces image quality considerably when used to crop images, do on phone first instead */
    font-family:'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: clamp(20px, 5vw, 45px);
    text-align:center;
    text-shadow: 5px 5px mediumpurple;
    color: white;
    background-position: center top;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 50px;
}

@media (max-width:600px){
    .banner{
        background-image: url(../images/optimised/banners-m/purple_dip.webp)
    }
}


.tagline {
    font-family: 'Courier New', Courier, monospace;
    color:mediumpurple; 
    text-shadow: none; 
    font-size: clamp(10px, 5vw, 25px);
    margin: 20px 10px;
    display: inline-block;
    text-align: center;
    padding: 0px 15px;
    font-weight: bold;
    background-color: white;
     max-width: calc(100% - 20px); /* never full width, always some margin */
    position: relative;
    z-index: 1;
    border-radius: 2px;
     
}

.introdiv, .mainh2, .intro, .introdiv p{
    background-color: mediumpurple;
    color:#fff
}

.introdiv{
   padding-bottom: 15px
}

h2{
    margin-top: 0;
    font-family: 'Courier New', Courier, monospace;
    /*text-shadow: 3px 3px black; */
    color: mediumpurple;
    text-align: center;
    font-size: clamp(17px, 5vw, 35px);
    background-color: white;
    padding: 20px 0px 1px 0px;

}

 p {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(68, 53, 99);
    background-color: white;
    text-align: center;
    font-size: clamp(10px, 5vw,20px);
    margin: 20px auto;
    max-width: 900px;
    padding: 0px 10px;
 }


.tile_imgs {
       display: flex;
    gap:10px;
    justify-content: center;
     margin: 25px  auto;
    max-width: 900px;
 }

.tile_imgs img {
  margin: 0 auto;
  width: clamp(30px, 30vw, 350px);
  height: auto;
 
}

.compare_test {
       display: flex;
    gap:0px;
    justify-content: center;
 }

.compare_test img {
  margin: 0 10px;
  width: clamp(50px, 40vw, 350px);
  height: auto;
}


.dunk_imgs {
       display: flex;
    gap:0px;
    justify-content: center;
 }

.dunk_imgs img {
  margin: 0 10px;
  width: clamp(50px, 40vw, 350px);
  height: auto;
}


.bad_glazing h2 {
    margin-top: 25px;
}

.kiln_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5 rem;
    max-width: 900px;
    margin: 0 auto;
}

@media(min-width: 800px){
    .kiln_info{
        flex-direction: row;
        align-items: center;
    }

    .kiln_info img {
        max-width: 40%;
        height: auto;
    }

    .kiln_p {
        flex:1;
        text-align: justify;
    }
    
 }

 .kiln{
    width: 100%;
    max-width: clamp(80px, 50vw, 500px);
    height: auto;
 }
