body {
    background-color: #fff;
    margin: 0px;
    padding:0px;

}

/* cornflowerblue is a lovely colour alternative to black and white website */
.navigation {
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 5px solid darkseagreen;
    width: 100%;
    z-index: 999;
    font-weight: bold;
}

.navigation ul {
    display: flex;                  /* make list flex */
    justify-content: space-evenly;  /* space items evenly across */
    align-items: center;
    list-style: none;               /* remove bullet points */
    margin: 0;
    padding: 0;
    width: 100%;
}

.navigation li {
    flex: 1;                         /* each item takes equal space */
    text-align: center;              /* center text inside slot */
}

.navigation a {
    display: block;                  /* make link fill the li */
    font-family: 'Courier New', Courier, monospace;
    color:darkseagreen;
    font-size: clamp(15px, 5vw,25px) ;
    padding: 10px 0;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.2s ease, text-decoration 0.2s ease;
}

.navigation a:hover {
    text-decoration: underline;
    font-weight: bold;
    transform: scale(1.2);
}

.navigation a:active {
    color:black;
}

.banner{
    background-image: url("../images/compressed/banners/3-pot-cropped-final.jpg");
    /* note to self- powerpoint reduces image quality considerably when used to crop images, do on phone first instead */
    font-family:'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: clamp(20px, 5vw, 45px);
    text-align:center;
    text-shadow: 3px 5px darkseagreen;
    color: white;
    background-position: top center !important;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 50px;
}

@media (max-width:600px){
    .banner{
        background-image: url(../images/optimised/banners-m/3-pot-cropped-final.webp)
    }
}


.tagline {
    font-family: 'Courier New', Courier, monospace;
    color: darkseagreen; 
    text-shadow: none; 
    font-size: clamp(10px, 5vw, 25px);
    margin: 20px 20px;
    display: inline-block;
    text-align: center;
    padding: 0px 10px;
    font-weight: bold;
    background-color: white;
     max-width: calc(100% - 20px); /* never full width, always some margin */
    position: relative;
    z-index: 1;
    border-radius: 3px;
     
}

.introdiv, .mainh2, .intro {
    background-color: darkseagreen;
    color:#fff
}

.introdiv{
   padding-bottom: 15px
}

.mainh2{
    border-top: 6px solid darkseagreen;
}

h2{
    margin-top: 0;
    font-family: 'Courier New', Courier, monospace;
    /*text-shadow: 4px 4px black; */
    color:  darkseagreen;
    text-align: center;
    font-size: clamp(17px, 5vw, 35px);
    background-color:white;
    padding: 20px 0px 15px 0px;
}

 p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: clamp(10px, 5vw,20px);
    margin: 25px  auto;
    padding: 0px 10px;
    max-width: 900px;
}

.pots_home_imgs {
    display: flex;
    gap: 10px;
    max-width: 900px; /* by limiting containter size can prevent images from spreading out too far apart */ 
    justify-content: center;
    margin: 0 auto;  /* auto as second argument makes it align centrally in the horizontal axis */
}

.pots_home_imgs img {
  margin: 10px auto;
  width: clamp(100px, 50vw, 400px);
  object-fit: cover;
}