/* This style sheet is simply a diffrernet colour to the other one as of inital commits */


body {
    background-color: white;
    margin: 0px;
    padding:0px
}

/* cornflowerblue is a lovely colour alternative to rgb(86, 3, 105) and white website */
.navigation {
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 5px solid rgb(86, 3, 105);
    width: 100%;
    z-index: 999;
     font-weight: bold;
}

.navigation ul {
    display: flex;                  /* make list flex */
    justify-content: space-evenly;  /* space items evenly across */
    align-items: center;
    list-style: none;               /* remove bullet points */
    margin: 0;
    padding: 0;
    width: 100%;
}

.navigation li {
    flex: 1;                         /* each item takes equal space */
    text-align: center;              /* center text inside slot */
}

.navigation a {
    display: block;                  /* make link fill the li */
    font-family: 'Courier New', Courier, monospace;
    color: rgb(86, 3, 105);
    font-size: clamp(15px, 5vw,25px);
    padding: 10px 0;
    text-decoration: none;
    transition: transform 0.2s ease, text-decoration 0.2s ease !important;

}

.navigation a:hover {
    text-decoration: underline;
     font-weight: bold;
     transform: scale(1.2);

}

.navigation a:active {
    color:rgb(86, 3, 105);
}


.banner{
    background-image: url("../images/optimised/banners/purple_mug_banner_longer.webp");
    /* note to self- powerpoint reduces image quality considerably when used to crop images, do on phone first instead */
    font-family:'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: clamp(20px, 5vw, 45px);
    text-align:center;
    text-shadow: 5px 5px rgb(86, 3, 105);
    color: white;
    background-position: center center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 50px;
}

@media (max-width:600px){
    .banner{
        background-image: url(../images/optimised/banners-m/purple_mug_banner_longer-m.webp)
    }
}



.tagline {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(86, 3, 105); 
    text-shadow: none; 
    font-size: clamp(10px, 5vw, 25px);
    margin: 20px 10px;
    display: inline-block;
    text-align: center;
    padding: 0px 15px;
    font-weight: bold;
    background-color: white;
    max-width: calc(100% - 20px); /* never full width, always some margin */
    position: relative;
    z-index: 1;
    border-radius: 3px;
     
}

.mainh2 {
    border-top: 6px solid  rgb(86, 3, 105);
}

h2{
    margin-top: 0;
    font-family: 'Courier New', Courier, monospace;
    /*text-shadow: 3px 3px rgb(86, 3, 105); */
    color: rgb(86, 3, 105);
    text-align: center;
    font-size: clamp(17px, 5vw, 35px);
    background-color: white;
    padding: 20px;
}

 p {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(75, 2, 75);
    background-color: white;
    text-align: center;
    font-size: clamp(10px, 5vw,20px);
    margin-top: clamp(10px, 5vw,20px);
    margin-left: clamp(2px,5vw,50px);
    margin-right: clamp(2px,5vw,50px);
 }


 .mug_imgs1 {
    display: flex;
    gap:10px;
    justify-content: center;
 }

.mug_imgs1 img {
  margin: 0 auto;
  width: clamp(100px, 50vw, 500px);
  height: auto;
}

 .mug_imgs2 {
    display: flex;
    gap:10px;
    justify-content: center;
    margin-top: 25px;
 }

.mug_imgs2 img {
  margin: 0 auto;
  width: clamp(100px, 50vw, 500px);
  height: auto;
}


 .mug_imgs3 {
    display: flex;
    gap:10px;
    justify-content: center;
    margin-top: 25px;
 }

.mug_imgs3 img {
  margin: 0 auto;
  width: clamp(100px, 50vw, 500px);
  height: auto;
}


.rip h2{
    margin-top: 30px ;
}


 .fallen1 {
    display: flex;
    gap:10px;
    justify-content: center;
 }

.fallen1 img{
  margin: 0 auto;
  width: clamp(80px, 50vw, 500px);
  height: auto;
}

.fallen2 {
    display: flex;
    gap:10px;
    justify-content: center;
 }

.fallen2 img{
  margin: 0 auto;
  width: clamp(100px, 50vw, 900px);
  height: auto;
  padding-top: 10px;
}

.fallen3 {
    display: flex;
    gap:10px;
    justify-content: center;
 }

.fallen3 img{
  margin: 0 auto;
  width: clamp(100px, 30vw, 800px);
  height: auto;
}


.rip {
    background-color:black;
    padding-bottom: 1px; /* prevents original background colour showing at the very bottom of page */
    padding-left: 5px;
}

.rip h2{
    color: white;
    background-color: black;
}
.rip p{
    color: white;
    background-color: black;
    padding-bottom: 20px;
}

.last_fallen {
    padding-bottom: 200px;
}

h3{


color:rgb(59, 156, 254)
}